<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock%}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="/css/support.css" rel="stylesheet" type="text/css"/>
  <link href="/css/select2.css" rel="stylesheet" type="text/css"/>
</head>

<body class="h100">
    {% block content %}{% endblock%}

  <script defer src="/js/jquery.min.js" type="text/javascript"></script>
  <script defer src="/js/select2.min.js" type="text/javascript"></script>

  
</body>

</html>